.App {
  background-color: #d3eaf2;
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  display: flex;
}

.input {
  flex: 1;
  margin-right: 10px;
}
